.tabs-container {
    margin-bottom: 1rem;

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        position: relative;
        z-index: 1;

        a {
            display: block;
            padding: 10px;
            padding-bottom: 5px;
            text-decoration: none;
            color: #333;
            border: 1px solid transparent;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        li.active a {
            background: #fff;
            border: 1px solid #ccc;
            border-bottom: 1px solid #fff;
        }
    }

    .tabs-content {
        position: relative;
        border: 1px solid #ccc;
        top: -1px;
    }

    .tab-content {
        display: none;
        padding: 20px;

        &.active {
            display: block;

            &.fade {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;

                &.in {
                    opacity: 1;
                }
            }
        }
    }
}